.candidate_profile {

  .cv_management {
    margin-bottom: 20px;

    .icon-download {
      color: green;
      text-decoration: none;
    }

    .icon-minus {
      color: lightgrey;
    }

    .cv_title {
      font-size: 30px;
    }

    .cv_icon {
      font-size: 42px;
      margin-left: 10px;
    }
  }

  .dl-horizontal {
    $dl_padding: 3px;
    margin-bottom: 30px;
    font-size: 18px;

    dt {
      padding-bottom: $dl_padding;
    }

    dd {
      padding-bottom: $dl_padding;
    }
  }
}

.candidate_list {

  .icon-download {
    color: green;
    text-decoration: none;
    font-size: 25px;
  }

  .icon-minus {
    color: lightgrey;
    font-size: 25px;
  }
}

.existing_cv {
  margin-left: 160px;
  font-style: italic;
  margin-top: -15px;
}